# **Hypothesis Testing**

In [1]:
import pandas as pd

In [4]:
ratings_url = 'data/teachingratings.csv'
ratings_df = pd.read_csv(ratings_url)
ratings_df

,minority,age,gender,credits,beauty,eval,division,native,tenure,students,allstudents,prof,PrimaryLast,vismin,female,single_credit,upper_division,English_speaker,tenured_prof
0,yes,36,female,more,0.289916,4.3,upper,yes,yes,24,43,1,0,1,1,0,1,1,1
1,yes,36,female,more,0.289916,3.7,upper,yes,yes,86,125,1,0,1,1,0,1,1,1
2,yes,36,female,more,0.289916,3.6,upper,yes,yes,76,125,1,0,1,1,0,1,1,1
3,yes,36,female,more,0.289916,4.4,upper,yes,yes,77,123,1,1,1,1,0,1,1,1
4,no,59,male,more,-0.737732,4.5,upper,yes,yes,17,20,2,0,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458,no,37,male,more,0.933396,3.5,upper,yes,yes,15,17,40,1,0,0,0,1,1,1
459,no,58,female,more,0.111563,3.5,upper,yes,yes,26,34,47,1,0,1,0,1,1,1
460,no,42,male,more,-0.900580,4.0,upper,yes,yes,45,86,61,1,0,0,0,1,1,1
461,no,39,male,more,0.643014,4.3,upper,yes,yes,22,29,62,1,0,0,0,1,1,1
462,no,51,female,more,0.391822,3.0,upper,yes,yes,47,67,69,1,0,1,0,1,1,1

### T-Test: Does gender affect teaching evaluation rates?

Justify why a t-test is suitable for this question.

In [5]:
# your code here

### ANOVA: Does beauty  score for instructors  differ by age?

Justify why ANOVA is suitable for this question.

In [6]:
# your code here

### Does teaching evaluation score for instructors differ by age?

In [7]:
# your code here

**Conclusion:** Since the p-value is greater than 0.05, we will fail to reject the null hypothesis as there is no significant evidence that at least one of the means differ.

### Chi-square: Is there an association between tenure and gender?

Justify why Chi-square is suitable for this question.

In [8]:
# your code here

### Correlation: Is teaching evaluation score correlated with beauty score?

In [9]:
# your code here

### Does tenure affect teaching evaluation scores?

-   Use Î± = 0.05

In [10]:
# your code here

### Is there an association between age and tenure?

-   What is your conclusion at Î± = 0.01 and Î± = 0.05?

In [11]:
# your code here

### Question 3: Test for equality of variance for beauty scores between tenured and non-tenured instructors

-   Use Î± = 0.05

In [12]:
# your code here

### Is there an association between visible minorities and tenure?

-   Use Î± = 0.05

In [13]:
# your code here